body{
    background-color: black;
    color: white;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.input {
    padding: 10px 25px;
    margin: 10px;
    border: 2px solid gray;
    font-size: 16px;
    width: 300px;
}

.searchbutton{
    display: flex;
    padding: 10px;
    background-color: orangered;
    color: white;
    cursor: pointer;
}

.main-container{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.cart-container{
    width: 50%;
    box-shadow: 4px 4px 8px gray;
    margin: auto;
    text-align: center;
}

.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.card{
    border: 1px solid gray;
    padding: 10px;
}
.card-img{
    width: 200px;
}
.cart-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.cart-title{
    display: flex;
    justify-content: space-around;
}
.ok{
    display: flex;
    justify-content: space-evenly;
}
.details{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orangered;
    
}
.cart-main-container{
    padding: 5px;
    gap: 10px;
}
.cart-img{
    width: 50px;
    height: 50px;
    size: 5px;
    padding: 8px;
}